<!DOCTYPE HTML> {%load static%}
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <!----font-Awesome----->
    <link rel="stylesheet" href="{% static 'fonts/css/font-awesome.min.css' %}">
    <!----font-Awesome----->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!----Calender -------->
    <link rel="stylesheet" href="{% static 'css/clndr.css' %}" type="text/css" />
    <script src="{% static 'js/underscore-min.js' %}"></script>
    <script src="{% static 'js/moment-2.2.1.js' %}"></script>
    <script src="{% static 'js/clndr.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
    <!--- start circle --->
    <script src="{% static 'js/jquery.circliful.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#myStat2').circliful();
        });
    </script>
    <!-- start price_bar  -->
    <link href="{% static 'css/jquery.nouislider.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.nouislider.js' %}"></script>
</head>

<body>
    <div class="main_bg">
        <div class="container">
            <div class="main">
                <div class="h_menu">
                    <a id="touch-menu" class="mobile-menu" href="#">Menu</a>
                    <nav>
                        <ul class="menu list-unstyled">
                            <li class="color1"><a href="#">HOME</a></li>
                            <li class="color2"><a href="#">My profile</a></li>
                            <li class="color6"><a href="#">CONTACT</a></li>
                            <li class="color2"><a href="../accounts/logout">LOGOUT</a></li>
                        </ul>
                    </nav>
                    <script src="{% static 'js/menu.js' %}" type="text/javascript"></script>
                </div>

                <div class="col-md-8 span_of_2" style="position:relative; left: 18%;">
                    <!-- start span1_of_3 style1 -->
                    <div>
                        <label for="option1" class="l-radio">
                                              <input type="radio" id="option1" name="selector" tabindex="1">
                                              <span>報告人姓名</span>
                                            </label>
                        <label for="option2" class="l-radio">
                                              <input type="radio" id="option2" name="selector" tabindex="2">
                                              <span>名稱</span>
                                            </label>
                        <label for="option3" class="l-radio">
                                              <input type="radio" id="option3" name="selector" tabindex="3">
                                              <span>漲跌</span>
                                            </label>
                        <label for="option4" class="l-radio">
                                                <input type="radio" id="option4" name="selector" tabindex="4">
                                                <span>時間</span>
                                              </label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary">Search</button>
                            <!-- <button type="ｂbutton" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                              </button>
                            <div class="form-group"> -->
                            <!-- <select class="form-control" id="exampleFormControlSelect1">
                                                  <option>報告人姓名</option>
                                                  <option>名稱</option>
                                                  <option>漲跌</option>
                                                  <option>時間</option>
                                                </select> -->
                        </div>
                        <!-- <div class="dropdown-menu">
                                <option class="dropdown-item" value="報告人姓名">報告人姓名</option>
                                <a class="dropdown-item" href="#">報告人姓名</a>
                                <a class="dropdown-item" href="#">名稱</a>
                                <a class="dropdown-item" href="#">漲跌</a>
                                <a class="dropdown-item" href="#">時間</a>
                            </div> -->
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <!-- 這裡拿來放各種大盤指數-->
                    <div class="col headerDivider1">
                        <span style="font-size: 24px;">1 of 5 </span>
                    </div>
                    <div class="col headerDivider2">
                        <span style="font-size: 24px;">2 of 5 </span>
                    </div>
                    <div class="col headerDivider2">
                        <span style="font-size: 24px;">3 of 5 </span>
                    </div>
                    <div class="col headerDivider2">
                        <span style="font-size: 24px;">4 of 5 </span>
                    </div>
                    <div class="col headerDivider2">
                        <span style="font-size: 24px;">5 of 5 </span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">名稱</th>
                        <th scope="col">報告人</th>
                        <th scope="col">現價</th>
                        <th scope="col">原始價</th>
                        <th scope="col">累積漲跌幅</th>
                        <th scope="col">報告內容</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><button type="button" class="btn btn-secondary btn-sm">修改</button>
                            <button type="button" class="btn btn-secondary btn-sm">輸出</button>
                            <button type="button" class="btn btn-secondary btn-sm">刪除</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><button type="button" class="btn btn-secondary btn-sm">修改</button>
                            <button type="button" class="btn btn-secondary btn-sm">輸出</button>
                            <button type="button" class="btn btn-secondary btn-sm">刪除</button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><button type="button" class="btn btn-secondary btn-sm">修改</button>
                            <button type="button" class="btn btn-secondary btn-sm">輸出</button>
                            <button type="button" class="btn btn-secondary btn-sm">刪除</button></td>
                    </tr>
                </tbody>
            </table>
            <a href="./add_data.html" target="_blank" rel="noopener noreferrer">
                <img src="{% static './images/plus.png' %}" alt="新增" width="30" style="display:block; margin:auto;">
            </a>
            <!-- end span1_of_2 -->
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
</body>

</html>